<!DOCTYPE html>
<html lang="hi">
<head>
  <meta charset="UTF-8">
  <title>पंचायत सदस्य</title>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f7f9fc;
      padding: 30px;
    }
    h1 {
      text-align: center;
      color: #263238;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ccc;
      padding: 12px;
      text-align: center;
    }
    th {
      background-color: #7da6e3;
      color: white;
    }
  </style>
</head>
<body>
  <h1>पंचायत सदस्य</h1>
  <table>
    <thead>
      <tr>
        <th>पंचायत</th>
        <th>सदस्य</th>
        <th>पदनाम</th>
        <th>फोन नंबर</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>श्री झूलेलाल सेवा समिति</td>
        <td>श्री प्रताप राय चुग</td>
        <td>अध्यक्ष</td>
        <td>+91 9928058058</td>
      </tr>
      <tr>
        <td>श्री झूलेलाल सेवा समिति</td>
        <td>श्री मनोज कटारिया</td>
        <td>महासचिव</td>
        <td>+91 9414263312</td>
      </tr>
      <tr>
        <td>सिंधी केंद्रीय युवा सेवा समिति</td>
        <td>श्री विजय अहुजा</td>
        <td>अध्यक्ष</td>
        <td>+91 9982134777</td>
      </tr>
      <tr>
        <td>सिंधी केंद्रीय युवा सेवा समिति</td>
        <td>श्री मुकेश खिलवानी</td>
        <td>महासचिव</td>
        <td>+91 9772734476</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
